.analysis{
    background-color: #EEE5EE;
    height: 83.75vh;
    
}

.title-analysis{
    position: absolute;
    right: 60px;
    top: 105px;
    rotate: 45deg;
    font-size: 27px;
    font-family: 'Roboto', sans-serif;
    margin-left: 20px;
    color: #000000;
}
.analysis-checbox{
width: 100%;
display: flex;
justify-content: center;
align-items: center;
height:80px;
gap: 70px;
}

.checkbox1, .checkbox2{
    height: 30px;
    width: 30px;

}
.checkbox1-Container, .checkbox2-Container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 5px;
}

.image-analysis-container{

height: 500px;
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;

}

.image-analysis-toolbar{
height: 50px;

width: 700px;
display: flex;
gap: 20px;
}

.image-analysis-title{
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
    margin-left: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
    color: #000000;
}

.content{

    background-color: rgb(255, 255, 255) ;
    border-radius: 7px;
    border: 1px solid #000000;
    width: 700px;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 10px;
    position: relative;
}

.form-multi-select{
    width: 500px;
}

.dropdown{
    position: relative;
    bottom: 10px;
    left: 20px;
    font: 15px 'Roboto', sans-serif;
}

.image-analysis-button1{
    height: 50px;
    width: 100px;
    background-color: #906090;
    color: #FFFFFF;
    border: none;
    border-radius: 7px;
    font-size: 15px;
    font-family: 'Roboto', sans-serif;
    margin-left: 20px;
    position: absolute;
    bottom: 10px;
    right: 10px;
}
.image-analysis-button2{
    height: 50px;
    width: 100px;
    background-color: #001848;
    color: #FFFFFF;
    border: none;
    border-radius: 7px;
    font-size: 15px;
    font-family: 'Roboto', sans-serif;
    margin-left: 20px;
}



/* CLINICAL DATA */
.clinical-data{
    height: 1000px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}

.clinical-data-title{
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
    margin-left: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
    color: #000000;
}

.cd-content{
    
    background-color: rgb(255, 255, 255) ;
    border-radius: 7px;
    border: 1px solid #000000;
    width: 700px;
    height: 1400px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 10px;
    position: relative;
}