.analysis{
    background-color: #EEE5EE;
    /* height: 100vh; */
    min-height: 100vh;
    padding-top: 80px;
    
    
}

.analysis-blur{
    background-color: #EEE5EE;
    filter: blur(10px);
;padding-top: 80px;
    min-height: 100vh;
    
}

.title-analysis{
    position: absolute;
    right: 60px;
    top: 105px;
    rotate: 45deg;
    font-size: 27px;
    font-family: 'Roboto', sans-serif;
    margin-left: 20px;
    color: #000000;
    z-index: 1;
}
.analysis-checbox{
width: 100%;
display: flex;
justify-content: center;
align-items: center;
height:80px;
gap: 70px;

}

.checkbox1, .checkbox2{
    height: 30px;
    width: 30px;

}
.checkbox1-Container, .checkbox2-Container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 5px;
}

.nothing-selected{
    width: 400px;
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 1px solid #000000;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Roboto', sans-serif;
    font-size: large;
}

.image-analysis-container{

height: 450px;
display: flex;
align-items: center;
flex-direction: column;
background-color: #EEE5EE;
margin-top: 20px;



}

.image-analysis-toolbar{
height: 50px;
width: 700px;
display: flex;
gap: 20px;
}

.image-analysis-title{
    font-size: 30px;
    font-family: 'Roboto', sans-serif;
    margin-left: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
    color: #000000;
}

.content{

    background-color: rgb(255, 255, 255) ;
    border-radius: 7px;
    border: 1px solid #000000;
    width: 700px;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 10px;
    position: relative;
}

.form-multi-select{
    width: 500px;
}

.dropdown{
    position: relative;
    bottom: 10px;
    left: 20px;
    font: 15px 'Roboto', sans-serif;
}

.image-analysis-button1{
   
    position: absolute;
    bottom: 10px;
    right: 10px;
    background-color: #906090;
            color: white;
            padding: 10px 20px;
            border: none;
            border-radius: 5px;
            cursor: pointer;
            width: 230px;


}
.image-analysis-button2{
    height: 50px;
    width: 100px;
    background-color: #001848;
    color: #FFFFFF;
    border: none;
    border-radius: 7px;
    font-size: 15px;
    font-family: 'Roboto', sans-serif;
    margin-left: 20px;
}

.image-analysis-button-disabled{
    height: 50px;
    width: 100px;
    background-color: #001848;
    color: #FFFFFF;
    border: none;
    border-radius: 7px;
    font-size: 15px;
    font-family: 'Roboto', sans-serif;
    margin-left: 20px;
    opacity: 0.5;
    cursor: not-allowed;
}


/* CLINICAL DATA */
.clinical-data{
    height: 670px;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: #EEE5EE;

}

.clinical-data-title{
    font-size: 30px;
    font-family: 'Roboto', sans-serif;
    margin-left: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
    color: #000000;
}

.clinical-data-toolbar{
height: 50px;
width: 700px;
display: flex;
gap: 20px;
margin-top: 20px;
}
.cd-content{
    
    background-color: rgb(255, 255, 255) ;
    border-radius: 7px;
    border: 1px solid #000000;
    width: 700px;
    height: 500px;
    display: flex;
    justify-content: center;
    /* align-items: center; */
    margin-top: 10px;
    margin-bottom: 10px;
    position: relative;
    overflow-y: auto ;
    padding-top: 10px;
    
}

/* IA AND CD */

.iaAndcd{
    display: flex;
    flex-direction: row;
    gap: 30px;
    justify-content: center;
    height: 700; 
    background-color: #EEE5EE;
  

}

.combined-image-analysis-container{

    height: 500px;
    display: flex;
    /* justify-content: center; */
    align-items: center;
    flex-direction: column;
    
    }

.combined-content{

    background-color: rgb(255, 255, 255) ;
    border-radius: 7px;
    border: 1px solid #000000;
    width: 700px;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 10px;
    position: relative;
    }

.combined-image-analysis-title{
    font-size: 30px;
    font-family: 'Roboto', sans-serif;
    margin-left: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
    color: #000000;
    
}

.combined-image-analysis-toolbar{
    height: 50px;
    width: 700px;
    display: flex;
    gap: 20px;
    margin-top: 20px;
    
    
}

.combined-clinical-data-toolbar{
    height: 50px;
    width: 700px;
    display: flex;
    gap: 20px;
    margin-top: 20px;
}

.combined-cd-content{
    background-color: rgb(255, 255, 255) ;
    border-radius: 7px;
    border: 1px solid #000000;
    width: 700px;
    height: 500px;
    display: flex;
    justify-content: center;
    margin-top: 10px;
    margin-bottom: 10px;
    position: relative;
    overflow-y: auto ;
    padding-top: 10px;
}

.combined-button{
    height: 50px;
    width: 100px;
    background-color: #001848;
    color: #FFFFFF;
    border: none;
    border-radius: 7px;
    font-size: 15px;
    font-family: 'Roboto', sans-serif;
    margin-left: 20px; 
    position: relative;
    right: 50%;
    bottom: -15px;
}

.combined-clinical-data{
    height: 700px;
    display: flex;
   
    align-items: center;
    flex-direction: column;
    background-color: #EEE5EE;

}

.nothing-selected-content{
    border: none;
    position: absolute;
    top: 20%;
    background-color: rgba(181, 32, 32, 0);
    color: #000000;
    font-size: 28px;
    font-family: 'Roboto', sans-serif;
    font-size: large;
    
}


.image-preview-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* height: 100px; */
    /* width: 100px; */
    position: relative;
    top: 80px;
    left: -230px;
    
}
.image-preview{
    width: 100px;
    object-fit: contain;
}

.remove-img-button{
    position: absolute;
    bottom: 10px;
    right:260px;
    background-color: #906090;
    color: #FFFFFF;
    border: none;
    border-radius: 7px;
    font-size: 15px;
    font-family: 'Roboto', sans-serif;
    cursor: pointer;
    height: 40px;
    width: 40px;
}