.history{
    background-color: #EEE5EE;
    height: 83.75vh;
}

.title-history{
    position: absolute;
    right: 60px;
    top: 105px;
    rotate: 45deg;
    font-size: 27px;
    font-family: 'Roboto', sans-serif;
    margin-left: 20px;
    color: #000000;
}