.history {
    background-color: #EEE5EE;
    height: 100vh;
    /* height: 1200px; */
}

.title-history {
    position: absolute;
    right: 60px;
    top: 105px;
    rotate: 45deg;
    font-size: 27px;
    font-family: 'Roboto', sans-serif;
    margin-left: 20px;
    color: #000000;
}

.datatable {
    position: absolute;
    top: 200px;
    left: 50px;
    width: 90%;

}

.report-history {
    position: absolute;
    top: 100px;
    padding: 20px;

}





/* .datatable {
    background: white;
    border-radius: 12px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    overflow-x: auto;
    overflow-y: auto;
    margin-top: 20px;
} */

.p-datatable {
    width: 90%;

}

.p-datatable-tbody>tr>td {

    white-space: pre-wrap;
    word-break: break-word;
}

.text-toggle-button {
    background: none;
    border: none;
    color: #007bff;
    text-decoration: underline;
    cursor: pointer;
    margin-top: 5px;
}

.text-toggle-button:hover {
    color: #0056b3;
}

.p-inputtextSearch {
    position: absolute;
    top: 130px;
    left: 250px;
    height: 33px;
    width: 200px;
    border-radius: 5px;
    border: 1px solid #000000;
    padding: 5px;

}