.ia-report-main {
    background-color: #EEE5EE;
    height: 800px;
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.ia-report-toolbar {
    position: relative;
    display: flex;
    flex-direction: row;

    align-items: center;
    width: 700px;

}

.ia-report-content {
    position: relative;
    background-color: #ffffff;
    height: 500px;
    width: 700px;
    border-radius: 7px;
    border: 1px solid #000000;
    font-family: 'Roboto', sans-serif;

}

.ia-report-title {

    font-size: 30px;
    font-family: 'Roboto', sans-serif;
    margin-top: 10px;
    margin-bottom: 10px;
    color: #000000;


}

.form-content {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    margin-bottom: 10px;
    position: absolute;
    right: 10px;
}



.ia-left-box {
    position: absolute;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    width: 230px;
    margin-left: 20px;
    margin-right: 20px;
    height: 100%;
    border-right: 1px solid #000000;
}

.image-box {
    position: absolute;
    top: 40%;
    left: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.image-report {
    width: 200px;
}

.button-append {
    position: absolute;
    bottom: 10px;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    width: 100px;
    height: 50px;
    background-color: #906090;
    color: white;
    border: none;
    border-radius: 9px;
}

.ia-right-box {
    position: absolute;
    right: 0px;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 60%;
}

.label-box {
    display: flex;
    flex-direction: column;
    align-items: left;
    position: absolute;
    left: 0px;
    height: 100%;
    width: 50%;
    gap: 15px;
    padding-top: 20px;
}

.input-or-text-box {
    display: flex;
    flex-direction: column;
    align-items: left;
    position: absolute;
    right: 0px;
    height: 100%;
    width: 50%;
    gap: 15px;
    padding-top: 20px;
}

.report-label {
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
    color: #000000;
    display: flex;
}

.report-box {
    width: 90%;
    border: 1px solid #000000;
    height: 23px;
    font-size: 15px;
    font-family: 'Roboto', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
}


.custom-input {
    display: block;
    width: 90%;
    height: 23px;
    padding: 10px;
    position: relative;
    box-sizing: border-box;
    border: 1px solid #ffffff;
    border-radius: 0px;
    font-size: 16px;
    border: 1px solid #000000;
    text-align: center;

}

.custom-input-notes {
    width: 90%;
    height: 150px;
}

.checkbox-group {
    display: flex;
    gap: 50px;
    align-items: center;
}



.checkbox-input {
    margin-right: 8px;
    gap: 15px;
    cursor: pointer;
    font-size: 16px;
    padding-right: 20px;
}


/* CLINICAL DATA ANALYSIS */
.section {
    margin-left: 30px;
}

.section-title {
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
}

.cd-report-main {
    background-color: #EEE5EE;
    height: 1650px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cd-report-toolbar {
    position: relative;
    display: flex;
    flex-direction: row;
    gap: 100px;
    align-items: center;
    width: 700px;
}

/* .cd-report-content {
    position: relative;
    background-color: #ffffff;
    height: 1400px;
    width: 800px;
    border-radius: 7px;
    font-family: 'Roboto', sans-serif;
    border: 1px solid #000000;
    padding: 10px;

} */

.cd-report-content {
    position: relative;
    background-color: #ffffff;
    width: 800px;
    border-radius: 7px;
    font-family: 'Roboto', sans-serif;
    border: 1px solid #000000;
    padding: 10px;
    min-height: 200px;
    /* optional, ensures a minimum height */
    box-sizing: border-box;
    /* ensures padding doesn't affect the overall width/height */
}

.cd-report-title {
    font-size: 30px;
    font-family: 'Roboto', sans-serif;
    margin-top: 10px;
    margin-bottom: 10px;
    color: #000000;

}

.cd-report-title-combined {
    font-size: 23px;
    font-family: 'Roboto', sans-serif;
    margin-top: 10px;
    margin-bottom: 10px;
    color: #000000;

}

.ia-report-title-combined {
    font-size: 23px;
    font-family: 'Roboto', sans-serif;
    margin-top: 10px;
    margin-bottom: 10px;
    color: #000000;
    position: absolute;
    top: 10px;
}

.cd-right-box {
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1px solid #000000;
    border-top-right-radius: 7px;
    border-bottom-right-radius: 7px;
}

.cd-report-questions {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.cd-report-questions div {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cd-report-questions label {
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
    width: 600px;
    margin-right: 20px;
}

.cd-report-questions input[type="number"],
.cd-report-questions input[type="text"],
.cd-report-questions input[type="date"],
.cd-report-questions select {
    font-size: 16px;
    padding: 6px;
    width: 170px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.group-radio-mf {
    display: flex;
    gap: 17px;
    align-items: center;
    margin-right: 7px;
}


.group-radio {
    display: flex;
    gap: 30px;
    align-items: center;
    margin-right: 7px;
}



/* BOTH REPORT VIEWS */
.report-main {
    background-color: #EEE5EE;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 2050px;
    width: 100%;
}

.both-ia-report-main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.both-cd-report-main {
    background-color: #EEE5EE;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.ia-report-main-combined {
    background-color: #EEE5EE;
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.ia-report-content-combined {
    position: relative;
    background-color: #ffffff;
    height: 500px;
    width: 800px;
    border-radius: 7px;
    border: 1px solid #000000;
    font-family: 'Roboto', sans-serif;

}

.copy-text {
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
    margin-top: 10px;
    margin-bottom: 10px;
    color: #000000;
    display: flex;
    position: absolute;
    right: 10px;
}

.copy-text:hover {
    cursor: pointer;
    scale: 1.1;
}